/target
/libjxl
/benchmark-jpegxl/test_images
/benchmark-jpegxl/test_images copy
/benchmark-jpegxl/target
/benchmark-jpegxl/.DS_Store
/benchmark-jpegxl/.idea
/benchmark-jpegxl/benchmarks/temp
**/.DS_Store
**/.idea
**/target
.DS_Store
.idea
**/output
